@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#input-new-task .MuiInputBase-root {
    padding-left: 24px;
}

.Mui-error {
    font-size: 0.85rem;
}

.task-completed span,
.task-incomplete span {
    transition: all 0.5s;
}

.task-completed span {
    /**
    * This is /bleh/ because it's nice to be able to read the task even if complete:
    * text-decoration: line-through;
    */
    opacity: 0.5;
}
